/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0,0,0,0;
	overflow:hidden;
}

#contentDiv {
    min-height: 100%;
}
.wall_container{
	width: 100%;
	height: 100%;
    min-height: 100%;
	
	background-color: black;
}

/*
.grid-sizer,
.grid-item { 
	width: 20%;
	height: 20%;
	min-height: 20%;
	min-width: 20%;
	background-color: white
}
.grid-item--width2 { 
	width: 40%; 
	width: 40%; 

background-color: green}*/

/* ---- grid ---- */

.grid {
  background: #DDD;
  max-height: 100%;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 8.333333333333333333%;
}

.grid-item {
  float: left;
}
.grid-item.twice{
	width: 16.666666666666666%;
}

.grid-item img {
  display: block;
  width: 100%;
}