.absolutedivtest{
	position: absolute;
	background: yellow;
	height: 50px;
	width: 50px;
	top: 0px;
	left: 0px;	

	-webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;

}
#header {
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
}
.block{
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0px;
	left: 0px;
	/*padding: 4px 4px 4px 4px;*/
	background-color: white;

	-webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;

	-webkit-transform: scale(0.6);
		transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
		animation: scaleUp 0.65s ease-in-out forwards;
}
@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}


.block .overlay {
	position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;    
    width: 100%;
    height: 100%;
	background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
	/*background: radial-gradient(rgba(0, 0, 0, 1), );*/

	opacity: 0;
  	/*transition: opacity 0.5s linear;*/
  	-webkit-transition: opacity 0.3s ease-out;
       -moz-transition: opacity 0.3s ease-out;
        -ms-transition: opacity 0.3s ease-out;
         -o-transition: opacity 0.3s ease-out;
            transition: opacity 0.3s ease-out;

}
.block .overlay .fa {
	color: white;

-webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   	 -o-animation: flickerAnimation 3s infinite;
    	animation: flickerAnimation 3s infinite;

}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
.animate-flicker {
   
}
.block img {
	z-index: -2;
	display: block;
  	width: 100%;
  	position: absolute;
}
.block.overlay .overlay {
	/*display: block;*/
	opacity: 1;
}